<a href="https://colab.research.google.com/github/sorrrrrr/sm07/blob/master/py_modules/py_modules_4_keras_cv_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## CV (Computer vision) datasets in AI
- from keras
    - MNIST
    - Fashion-MNIST
    - CIFAR-10
    - CIFAR-100

### MNIST (Modified National Institute of Standards and Technology)
- (60000, 28, 28), train
- (10000, 28, 28), test
- grayscale images of handwritten single digits between 0 and 9

In [0]:
from keras.datasets import mnist
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
# use TensorFlow 1.x 
%tensorflow_version 1.x
import tensorflow as tf
print(tf.__version__)

In [0]:
# load dataset
(trainX, trainy), (testX, testy) = mnist.load_data()
# summarize loaded dataset
print('Train: X=%s, y=%s' % (trainX.shape, trainy.shape))
print('Test: X=%s, y=%s' % (testX.shape, testy.shape))

In [0]:
# plot first few images
for i in range(9):
	# define subplot
	plt.subplot(330 + 1 + i)
	# plot raw pixel data
	plt.imshow(trainX[i], cmap=plt.get_cmap('gray'))
# show the figure
# plt.show()

### [DIY] MNIST 데이터의 숫자 분포 통계 및 그래프
- MNIST 트레이닝, 테스트 데이터의 0 ~ 9 까지의 숫자 분포 통계를 구하시오.
- MNIST 트레이닝, 테스트 데이터의 숫자별 히스토그램을 그리시오.
- MNIST 트레이닝, 테스트 데이터의 각 숫자의 대표그림을 5 X 2의 배치로 그리시오.

### Fashion-MNIST Dataset
- (60000, 28, 28), train
- (10000, 28, 28), test
- grayscale images of items of 10 types of clothing, such as shoes, t-shirts, dresses, and more.

In [0]:
from keras.datasets import fashion_mnist
# load dataset
(trainX, trainy), (testX, testy) = fashion_mnist.load_data()
# summarize loaded dataset
print('Train: X=%s, y=%s' % (trainX.shape, trainy.shape))
print('Test: X=%s, y=%s' % (testX.shape, testy.shape))

In [0]:
# plot first few images
for i in range(9):
	# define subplot
	plt.subplot(330 + 1 + i)
	# plot raw pixel data
	plt.imshow(trainX[i], cmap=pyplot.get_cmap('gray'))
# show the figure
# plt.show()

### CIFAR-10 Dataset (CIFAR: Canadian Institute For Advanced Research)
- (50000, 32, 32), train
- (10000, 32, 32) test
- color photographs of objects from 10 classes, such as frogs, birds, cats, ships, etc

In [0]:
from keras.datasets import cifar10
# load dataset
(trainX, trainy), (testX, testy) = cifar10.load_data()
# summarize loaded dataset
print('Train: X=%s, y=%s' % (trainX.shape, trainy.shape))
print('Test: X=%s, y=%s' % (testX.shape, testy.shape))

In [0]:
# plot first few images
for i in range(9):
	# define subplot
	plt.subplot(330 + 1 + i)
	# plot raw pixel data
	plt.imshow(trainX[i])
# show the figure
# plt.show()

### CIFAR-100 Dataset (CIFAR: Canadian Institute For Advanced Research)
- (50000, 32, 32), train
- (10000, 32, 32) test
- color photographs of objects from 100 classes, such as fish, flowers, insects, and much more

In [0]:
from keras.datasets import cifar100
# load dataset
(trainX, trainy), (testX, testy) = cifar100.load_data()
# summarize loaded dataset
print('Train: X=%s, y=%s' % (trainX.shape, trainy.shape))
print('Test: X=%s, y=%s' % (testX.shape, testy.shape))

In [0]:
# plot first few images
for i in range(9):
	# define subplot
	plt.subplot(330 + 1 + i)
	# plot raw pixel data
	plt.imshow(trainX[i])
# show the figure
# plt.show()

#### [도전} CIFAR-100의 첫 20개의 사진을 그려보시오.

In [0]:
# plot first 20 images

## What is your dataset?