<a href="https://colab.research.google.com/github/sorrrrrr/sm07/blob/master/ch2/ch2_04_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
ch2_04_list.py

In [12]:
print("리스트: list 란?")
odd = [1, 3, 5, 7, 9]
odd

리스트: list 란?

[1, 3, 5, 7, 9]

여러 가지 리스트

In [15]:
a = []   # list 초기화
print(a)
b = [1, 2, 3]
print(b)
c = ['Life', 'is', 'too', 'short']
print(c)
d = [1, 2, 'Life', 'is']
print(d)
e = [1, 2, ['Life', 'is']]
print(e)

a = list()
a

[]
[1, 2, 3]
['Life', 'is', 'too', 'short']
[1, 2, 'Life', 'is']
[1, 2, ['Life', 'is']]

[]

리스트 : 리스트의 인덱싱과 슬라이싱

In [18]:
a = [1, 2, 3]
print(a)
print(a[0])
# a[3]
print(a[0]+a[2])
a[-1]

[1, 2, 3]
1
4

3

In [22]:
a = [1, 2, 3, ['a', 'b', 'c']]
print(a[0])
print(a[3])
print(a[-1])
print(a[-1][0])
a[-1][-1]

1
['a', 'b', 'c']
['a', 'b', 'c']
a

'c'

삼중 리스트에서 인덱싱하기

In [23]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
print(a[2])
print(a[2][-1])
a[2][-1][0]

['a', 'b', ['Life', 'is']]
['Life', 'is']

'Life'

리스트의 슬라이싱

In [25]:
a = [1, 2, 3, 4, 5]
print(a[0:2])
a = "12345"
a[0:2]

[1, 2]

'12'

In [26]:
a = [1, 2, 3, 4, 5]
print(a[0:2])
print(a[2:])
print(a[0:4:2])

[1, 2]
[3, 4, 5]
[1, 3]

중첩된 리스트에서 슬라이싱 하기

In [27]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])
a[3][:2]

[3, ['a', 'b', 'c'], 4]

['a', 'b']

리스트 : 인덱싱, 슬라이싱 연습

In [28]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(x[0:3])
print(x[3:])
print(x[:6])
print(x[0:6:2])
print(x[-1])
print(x[-3])
print(x[:-3])
print(x[::-1])
x[-3::-1]

[1, 2, 3]
[4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6]
[1, 3, 5]
9
7
[1, 2, 3, 4, 5, 6]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

[7, 6, 5, 4, 3, 2, 1]

**리스트 : 리스트 연산하기**

리스트 더하기

In [29]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

리스트 반복하기

In [30]:
a *3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

리스트 길이 구하기

In [31]:
len(a)

3

초보자가 범하기 쉬운 리스트 연산 오류|

In [33]:
a = [1, 2, 3]
print(a[2] + "hi")
str(a[2]) + "hi"

TypeError: ignored

리스트의 수정과 삭제

In [34]:
a = [1, 2, 3]
a[2] = 4 
a

[1, 2, 4]

del 함수 사용해 리스트 요소 삭제하기

In [35]:
a = [1, 2, 3]
del a[1]
print(a)
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 3]

[1, 2]