<a href="https://colab.research.google.com/github/sorrrrrr/sm07/blob/master/ch2/ch2_06_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ch2_06_tuple.py

**튜플 : tuple 이란?**

In [1]:
even = (2, 4, 6, 8)
even[1] = 3

TypeError: ignored

여러가지 튜플

In [6]:
t1 = ()  
type(t1)
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ("a", "b", ("ab", "cd"))

print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

()
(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

튜플 요솟값을 삭제하려 할 때

In [7]:
t1 = (1, 2, "a", "b")
del t1[0] #error

TypeError: ignored

튜플 요솟값을 변경하려 할 때

In [8]:
t1[0] = "c" #TypeError

TypeError: ignored

**튜플 : 사용방법**

인덱싱 하기

In [10]:
t1 = (1, 2, "a", "b")
print(t1[0])
t1[3]

1

'b'

슬라이싱 하기

In [11]:
t1 = (1, 2, "a", "b")
print(t1[1:])
print(t1[2:-1])
t1[2:]

(2, 'a', 'b')
('a',)

('a', 'b')

튜플 더하기

In [12]:
t1 = (1, 2, "a", "b")
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

튜플 곱하기

In [14]:
t2 = (3, 4)
print(id(t2))
print(t2 * 3)
print(id(t2))
t2 = t2 * 3
print(id(t2))

140060346820808
(3, 4, 3, 4, 3, 4)
140060346820808
140060347492680

튜플 길이 구하기

In [15]:
t1 = (1, 2, "a", "b")
len(t1)

4