<a href="https://colab.research.google.com/github/sorrrrrr/sm07/blob/master/ch5/ch5_05_internal_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#내장함수

In [0]:
# 파이썬 내장 함수는 미리 준비된 내부 모듈
# 외부 모듈과 달리 import가 필요하지 않다.

##abs()

In [2]:
# abs(x)는 어떤 숫자를 입력받았을 때,
# 그 숫자의 절댓값을 돌려주는 함수
abs(3)
abs(-3)
abs(-1.2)

print("all()")
###########################################################
# all(x)는 반복 가능한(iterable) 자료형 x를 입력 인수로 받으며
# 이 x가 모두 참이면 True, 거짓이 하나라도 있으면 False를 돌려준다.
###########################################################
#
all([1, 2, 3])
all([0, 1, 2, 3])

all()

False

In [3]:
# 참고
bool([0, 1, 2, 3]), bool([0]), bool((0)), bool((0,))

(True, True, False, True)

##any()

In [4]:
# any(x)는 x 중 하나라도 참이 있으면 True를 돌려주고,
# x가 모두 거짓일 때에만 False를 돌려준다. all(x)의 반대이다.
any([0, 1, 2, 3])

any([0, ""])

False

##chr()

In [5]:
# chr(i)는 아스키(ASCII) 코드 값을 입력받아
# 그 코드에 해당하는 문자를 출력하는 함수이다.
chr(97)
chr(48)

'0'

##dir()

In [6]:
# dir은 객체가 자체적으로 가지고 있는 변수나 함수를 보여 준다.
dir([1, 2, 3])  # list object

dir({"1": "a"})  # dict object
type({"1": "a"})

dict

##divmod()

In [7]:
# divmod(a, b)는 2개의 숫자를 입력으로 받는다.
# 그리고 a를 b로 나눈 몫과 나머지를 튜플 형태로 돌려주는 함수
divmod(7, 3)  # 결과값을 tuple로 반환

(2, 1)

##enmuerate()

In [8]:
# enumerate는 "열거하다"라는 뜻이다.
# 이 함수는 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력으로
# 받아 인덱스 값을 포함하는 enumerate 객체를 돌려준다.
for i, name in enumerate(["body", "foo", "bar"]):
    print(i, name)

0 body
1 foo
2 bar

##eval()

In [10]:
# eval(expression )은 실행 가능한 문자열(1+2, 'hi' + 'a' 같은 것)을
# 입력으로 받아 문자열을 실행한 결괏값을 돌려주는 함수
print(eval("1+2"))
print(eval("'hi' + 'a'"))
print(eval("divmod(4, 3)"))

3
hia
(1, 1)

##filter()

In [11]:
# filter 함수는 첫 번째 인수로 함수 이름을,
# 두 번째 인수로 그 함수에 차례로 들어갈 반복 가능한 자료형을 받는다.
# 그리고 두 번째 인수인 반복 가능한 자료형 요소가 첫 번째 인수인
# 함수에 입력되었을 때 반환 값이 참인 것만 묶어서(걸러 내서) 돌려준다.
def positive(l):
    result = []
    for i in l:
        if i > 0:
            result.append(i)
    return result


print(positive([1, -3, 2, 0, -5, 6]))

[1, 2, 6]

In [12]:
# filter1.py
def positive(x):
    return x > 0


list(filter(positive, [1, -3, 2, 0, -5, 6]))

# lambda를 사용하면 더욱 간편하게 코드를 작성할 수 있다.

list(filter(lambda x: x > 0, [1, -3, 2, 0, -5, 6]))

[1, 2, 6]

##hex()

In [14]:
# hex(x)는 정수 값을 입력받아 16진수(hexadecimal)로
# 변환하여 돌려주는 함수
print(hex(10))
print(hex(234))

0xa
0xea

##id()

In [16]:
# d(object)는 객체를 입력받아 객체의 고유 주소 값(레퍼런스)을 돌려주는 함수
a = 3
print(id(3))
print(id(a))
b = a
print(id(b))
print(id(4))  # different address

10914560
10914560
10914560
10914592

##input()

In [17]:
# input([prompt])은 사용자 입력을 받는 함수이다.
# 매개변수로 문자열을 주면, 그 문자열은 프롬프트가 된다.
a = input()
b = input("Enter: ")
b

d
Enter: a

'a'

##int()

In [19]:
# int(x)는 문자열 형태의 숫자나 소수점이 있는 숫자 등을
# 정수 형태로 돌려주는 함수
print(int(3))
print(int("3"))
print(int(3.14))

# int(x, radix)는 radix 진수로 표현된 문자열 x를 10진수로 변환
print(int("11", 2))
#int(11, 2)  # TypeError:

int("F", 16)

3
3
3
3

15

##isinstance()

In [20]:
# isinstance(object, class )는 첫 번째 인수로 인스턴스,
# 두 번째 인수로 클래스 이름을 받는다.
# 입력으로 받은 인스턴스가 그 클래스의 인스턴스인지를 판단하여
# 참이면 True, 거짓이면 False를 돌려준다.
class Person:
    pass


a = Person()
isinstance(a, Person)

b = 3
isinstance(b, Person)

False

##len()

In [22]:
# len(s)은 입력값 s의 길이(요소의 전체 개수)를 돌려주는 함수이다.
print(len("python"))
print(len([1, 2, 3]))
print(len((1, "a")))
print(len({a: 3}))

6
3
2
1

##list()

In [23]:
# list(s)는 반복 가능한 자료형 s를 입력받아
# 리스트로 만들어 돌려주는 함수
print(list("python"))
list((1, 2, 3))

['p', 'y', 't', 'h', 'o', 'n']

[1, 2, 3]

##map()

In [24]:
# map(f, iterable)은 함수(f)와 반복 가능한(iterable) 자료형을
# 입력으로 받는다.
# map은 입력받은 자료형의 각 요소를 함수 f가 수행한 결과를
# 묶어서 돌려주는 함수

# two_times.py
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number * 2)
    return result


result = two_times([1, 2, 3, 4])
print(result)

[2, 4, 6, 8]

In [26]:
# map 함수를 사용
def two_times(x):
    return x * 2


list(map(two_times, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [27]:
# lambda를 사용
list(map(lambda a: a * 2, [1, 2, 3, 4]))

[2, 4, 6, 8]

##max()

In [28]:
# max(iterable)는 인수로 반복 가능한 자료형을 입력받아
# 그 최댓값을 돌려주는 함수
print(max([1, 2, 3]))
print(max("python"))
print(max(list(range(10))))
max(range(10))

3
y
9

9

##min()

In [29]:
# min(iterable)은 max 함수와 반대로, 인수로 반복 가능한
# 자료형을 입력받아 그 최솟값을 돌려주는 함수
print(min([1, 2, 3]))
print(min("python"))
print(min(range(10)))

1
h
0

##oct()

In [30]:
# oct(x)는 정수 형태의 숫자를 8진수 문자열로 바꾸어 돌려주는 함수
print(oct(9))
print(oct(12345))

0o11
0o30071

##ord()

In [31]:
# ord(c)는 문자의 아스키 코드 값을 돌려주는 함수
# ※ ord 함수는 chr 함수와 반대이다.
print(ord("a"))  # chr(97)
print(ord("0"))

97
48

##pow()

In [32]:
# pow(x, y)는 x의 y 제곱한 결괏값을 돌려주는 함수
print(pow(2, 4))  # 2**4
print(pow(3, 4))  # 3**4

16
81

##range()

In [0]:
# range([start,] stop [,step] )는 for문과 함께 자주 사용하는 함수
# 이 함수는 입력받은 숫자에 해당하는 범위 값을 반복 가능한 객체로
# 만들어 돌려준다.

In [33]:
# 인수가 하나일 경우
list(range(5))

[0, 1, 2, 3, 4]

In [34]:
# 인수가 2개일 경우
list(range(5, 10))

[5, 6, 7, 8, 9]

In [35]:
# 인수가 3개일 경우
print(list(range(1, 10, 2)))

list(range(0, -10, -1))

[1, 3, 5, 7, 9]

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

##round()

In [36]:
# round(number[, ndigits]) 함수는 숫자를 입력받아 반올림해 주는 함수
# ※ [, ndigits]는 ndigits가 있을 수도 있고 없을 수도 있다는 의미이다.
print(round(4.6))
print(round(4.2))

# 소수점 2자리까지만 반올림
print(round(5.678, 2))

5
4
5.68

##sorted()

In [37]:
# sorted(iterable) 함수는 입력값을 정렬한 후
# 그 결과를 리스트로 돌려주는 함수
# 'reverse' 속성으로 정렬순서 반전
print(sorted([3, 1, 2]))
print(sorted([3, 1, 2], reverse=True))

print(sorted(["a", "c", "b"]))
print(sorted(["a", "c", "b"], reverse=True))

print(sorted("zero"))
print(sorted((3, 2, 1)))  # list로 반환!!!

[1, 2, 3]
[3, 2, 1]
['a', 'b', 'c']
['c', 'b', 'a']
['e', 'o', 'r', 'z']
[1, 2, 3]

##str()

In [38]:
# str(object)은 문자열 형태로 객체를 변환하여 돌려주는 함수
print(str(3))
print(str(100))
print(str("hello".upper()))

3
100
HELLO

##sum()

In [39]:
# sum(iterable) 은 입력받은 리스트나 튜플의
# 모든 요소의 합을 돌려주는 함수
print(sum([1, 2, 3]))
print(sum((4, 5, 6)))

6
15

##tuple

In [40]:
# tuple(iterable)은 반복 가능한 자료형을 입력받아
# 튜플 형태로 바꾸어 돌려주는 함수
print(tuple("abc"))
print(tuple([1, 2, 3]))

('a', 'b', 'c')
(1, 2, 3)

##type()

In [42]:
# type(object)은 입력값의 자료형이 무엇인지 알려 주는 함수
print(type("abc"))
print(type([]))
print(type({a: 4}))
print(type(open("test", "w")))

<class 'str'>
<class 'list'>
<class 'dict'>
<class '_io.TextIOWrapper'>

##zip()

In [43]:
# zip(*iterable)은 동일한 개수로 이루어진 자료형을
# 묶어 주는 역할을 하는 함수
print(list(zip([1, 2, 3], [4, 5, 6])))
print(list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9])))
print(list(zip("abc", "def")))
print(list(zip([1, 2, 3], "def")))

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]
[(1, 'd'), (2, 'e'), (3, 'f')]